/*=============Context Menu===============*/
#contMenu {
  background: #fff;
  width: 13rem;
  height: 16rem;
  padding: 0.3rem;
  display: none;
  position: absolute;
  user-select: none;
}

#contMenu ul {
  list-style: none;
  font-size: 0.7rem;
  line-height: 1.1rem;
  cursor: default;
}

#contMenu ul li {
  padding-top: 0.2rem;
}

#contMenu li:nth-child(-n + 7) span {
  padding-left: 1.5rem;
}

#contMenu li:nth-child(8) span {
  padding-left: 0.5rem;
  bottom: 5px;
}

#contMenu li:nth-child(9) span {
  padding-left: 1.5rem;
}

#contMenu li:nth-child(n + 10) span {
  padding-left: 0.5rem;
  bottom: 5px;
}

#contMenu img {
  height: 1rem;
  width: 1rem;
  object-fit: cover;
}
/*=======Color=============*/
#contMenu li:nth-child(n + 4):nth-child(-n + 5) span {
  color: #ccc;
}

#contMenu li:nth-child(n + 9):nth-child(-n + 10) span {
  color: #ccc;
}
/*=======Border=============*/
#contMenu li:nth-child(4) {
  border-top: #ccc solid 1px;
}
#contMenu li:nth-child(9) {
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
}
/*=======Hover=============*/
#contMenu li:nth-child(n + 1):nth-child(-n + 3):hover {
  background: #ccc;
}
#contMenu li:nth-child(n + 6):nth-child(-n + 8):hover {
  background: #ccc;
}
#contMenu li:nth-child(11):hover {
  background: #ccc;
}
