@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;500&display=swap");
@import url("./notificationBar.css");
@import url("./taskBar.css");
@import url("./menu.css");
@import url("./Apps.css/spotify.css");
@import url("./contextMenu.css");
@import url("./desktopTabs.css");

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  transition: filter 1.5s;
  position: relative;
}

.body {
  filter: hue-rotate(25deg);
}

:root {
  --primary: #142037ee;
  --hover: rgba(204, 204, 204, 0.178);
}

#container {
  height: 100vh;
  width: 100%;
  background-image: url("../images/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
}

@media screen and (max-width: 775px) {
  body:after {
    content: "Adjust Your Screen";
    color: #fff;
    text-align: center;
    padding-top: 50%;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    top: 0;
  }
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -ms-grid-column-align: center;
}

/*===============App Window Control ================*/
.windowSizeControl {
  background: transparent;
  width: 100%;
  height: 3%;
  border-bottom: 1px #232424 solid;
  position: relative;
}

.windowResizeBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 9%;
  float: right;
}

.windowSizeControlBtn {
  width: 100%;
  height: 1.3rem;
  overflow: hidden;
  margin-top: 0.05rem;
}

.windowSizeControlBtn:hover {
  background: var(--hover);
}
.resizeBtn:last-child:hover {
  background: #f00;
}

.windowSizeControlBtn img {
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/*======btn=======*/
.closeWindow {
  transform: scale(0) !important;
  transition: transform 0.5s;
}
.minimizeWindow {
  transform: scale(0) !important;
  transition: transform 0.5s;
}

/*Resize Window Tab Options*/

.resizeWindowOptions {
  background: rgba(39, 39, 39, 0.301);
  height: 8rem;
  width: 20%;
  z-index: 1;
  position: absolute;
  right: 0.9rem;
  top: 1.6rem;
  border: 1px solid #3c3c3c;
  border-radius: 0.5rem;
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.half:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
}

.half:nth-child(2) {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.2rem;
}

.half:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}

.half:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
}
.half {
  border-radius: .2rem;
  overflow: hidden;
}

.half:nth-child(4) div:first-child {
  grid-row: 1 / 3;
}

.half:nth-child(5) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
}

.half:nth-child(6) {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 0.2rem;
}

.half div:nth-child(n + 1):nth-child(-n + 4) {
  background: #3d3c3c65;
  transition: background 0.8s;
  cursor: pointer;
}
.half div:nth-child(n + 1):nth-child(-n + 4):hover {
  background: cornflowerblue;
  cursor: pointer;
}
