#spotify {
  background: #181919;
  width: 100%;
  height: 95%;
  border: 1px solid rgb(121, 117, 117);
  transform: scale(1);
  transition: transform 0.5s;
  overflow: hidden;
  position: relative;
}
/*==========Side Nav========*/
#spotify .sideMenu {
  background: #000;
  height: 100%;
  width: 15%;
}
/*=====logo======*/
#spotify .logo {
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
  color: #fff;
}

#spotify .logo img {
  height: 2rem;
  width: 2rem;
}

#spotify .logo span {
  position: absolute;
  left: 30%;
  top: 50%;
  font-size: 1.5rem;
  font-weight: bold;
}

#spotify .logo small {
  font-weight: lighter;
}
/*=====End of logo======*/
#spotify ul {
  list-style: none;
  color: #abaaab;
}

#options {
  margin-top: 1rem;
  padding: 0.5rem;
}

#options li img {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1.5rem;
}

#options li {
  padding-left: 2rem;
  border-radius: 0.3rem;
  padding: 0.1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: color 0.5s;
}

#options li:hover {
  color: #fff;
}

#options li span {
  position: absolute;
  top: 20%;
  left: 20%;
  margin-left: 1rem;
}

#options .active {
  color: #fff;
  background: #292928;
}

#playlists {
  border-top: #666872 solid 1px;
  margin: 1rem;
  margin-left: 2rem;
}

#playlists li {
  margin-top: 0.5rem;
  cursor: pointer;
  transition: color 0.5s;
}

#playlists li:hover {
  color: #fff;
  font-size: 0.5rem;
}
/*===End of Side Nav===*/
/*CurrentlyPlaying*/
#currentPlaying {
  background: #232424;
  border-top: 1px #232424 solid;
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#currentPlayingSong {
  display: flex;
  margin: auto;
  margin-left: 1rem;
  color: #fff;
  cursor: pointer;
}

#songCover{
  display: flex;
  margin: auto;
  height: 2.5rem;
  width: 2.5rem;
}

#currentPlayingSong #playingSongName {
  padding-left: 1rem;
}

#currentPlayingSong #playingSongArtist {
  padding-left: 1rem;
  font-size: 0.6rem;
  color: #ccc;
}

#likeSong {
  padding-left: 1rem;
  height: 2rem;
  width: 2rem;
}

#likeSong:hover{
	stroke: red;
}
