#spotify {
  background: #181919;
  width: 100%;
  height: 95%;
  border: 1px solid rgb(121, 117, 117);
  transform: scale(1);
  transition: transform 0.5s;
  overflow: hidden;
}
/*==========Side Nav========*/
#spotify .sideMenu {
  background: #000;
  height: 100%;
  width: 15%;
}
/*=====logo======*/
#spotify .logo {
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
  color: #fff;
}

#spotify .logo img {
  height: 2rem;
  width: 2rem;
}

#spotify .logo span {
  position: absolute;
  left: 30%;
  top: 50%;
  font-size: 1.5rem;
  font-weight: bold;
}

#spotify .logo small {
  font-weight: lighter;
}
/*=====End of logo======*/
#spotify ul {
  list-style: none;
}

#top_options {
  margin-top: 2rem;
  color: #abaaab;
  padding: 0.5rem;
}

#top_options li img {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1.5rem;
}

#top_options li {
  padding-left: 2rem;
}

#top_options li span {
  position: absolute;
  top: 20%;
  left: 20%;
  margin-left: 1rem;
}

#top_options .active {
  color: #fff;
  background: #292928;
  border-radius: 0.3rem;
  padding: 0.1rem;
}
